*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.container {
    width: 90%;
    padding-left: 50px;
}

    @media screen and (min-width: 1440px) {
        .container{
            margin-left: 0%;
            width: 89%;
        }
    }

    @media screen and (max-width: 768px) {
        .container{
            padding-left: 30px;
        }
    }

    header {
        background: black;
        height: 100px;
        width: 100%;
      }

.nav {
    background-color: #010A2C;
    width: 13.0rem;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
    .nav ul {
        margin-right: 30%;
    }

        @media screen and (max-width: 1024px) {
            .nav ul{
               margin-right: 45%;
            }
            .nav img{
                height: 25px;
            }
        }

        @media screen and (max-width: 768px) {
            .nav ul{
               margin-right: 57%;
            }

            .nav img{
                height: 25px;
            }
        }

    .nav li {
        list-style: none;
    }

   .nav img {
        margin-bottom: 200%;
   }

            /*Caso o usuário seja um ADM, referenciar essa clase no nav*/
            .nav-adm {
                background-color: #010A2C;
                width: 13.0rem;
                height: 100%;
                padding: 0;
                margin: 0;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
            }
                .nav-adm ul {
                    margin-top: 30%;
                    margin-right: 30%;
                }

                    @media screen and (max-width: 1024px) {
                        .nav-adm ul{
                        margin-right: 45%;
                        }

                        .nav-adm img{
                            height: 25px;
                        }
                    }
            
                    @media screen and (max-width: 768px) {
                        .nav-adm ul{
                        margin-right: 57%;
                        }
            
                        .nav-adm img{
                            height: 25px;
                        }
                    }

                .nav-adm li {
                    list-style: none;
                }

            .nav-adm img {
                    margin-bottom: 200%;
            }
            /**/

.background {
    height: 100%;
    width: 90%;
    margin-left: 10%;
    background-color: #F0F0F4;
    border-top-left-radius:  40px;
    border-bottom-left-radius:  40px;
    position: absolute;
}



.topbar {
    height: 13%;
    padding-left: 30px;
    padding-top: 20px;
}

    .search-container {
        width: 400px;
        margin-right: 0;
        display: inline;
    }

        .search-container input {
            height: 40px;
            width: 320px;
            border: none;
            border-radius: 10px;
            background-color: white;
            padding-left: 60px;
        }

        .search-container img {
            position: absolute;
            margin: 7px 10px 0px;
        }

    .profile-container {
        float: right;
        display: inline;
        width: 250px;
    }

    .profile-infos {
        padding-top: 10px;
    }

        .profile-infos label {
            text-transform: uppercase;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            padding-left: 25px;
            top: 10px;
        }

        .profile-infos a {
            padding-left: 25px;
            cursor: pointer;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 15px;
            color: #F97801;
        }


    .profile {
        height: 70px;
        width: 60px;
        background-color: rgb(172, 172, 172);
        border-radius: 100%;
        float: right;
        padding-left: 10px;
    }

            @media screen and (max-width: 1024px) {
                .profile {
                    height: 60px;
                    width: 50px;
                }

                .profile-infos{
                    padding-top: 5px;
                    padding-left: 35px;
                }

                .profile-infos label {
                    font-size: 14px;
                }

                .profile-infos a {
                    font-size: 14px;
                }
            }    

            @media screen and (max-width: 768px) {
                .search-container input {
                    height: 40px;
                    width: 260px;
                    border: none;
                    border-radius: 10px;
                    background-color: white;
                    padding-left: 40px;
                }

                .search-container input {
                    padding-left: 65px;
                }
                
                .search-container img {
                    position: absolute;
                    margin: 7px 10px 0px;
                }

                .profile-container {
                    width: 200px;
                }
                
                .profile {
                    height: 50px;
                    width: 40px;
                }

                .profile-infos{
                    padding-top: 5px;
                    padding-left: 10px;
                }

                .profile-infos label {
                    font-size: 12px;
                }

                .profile-infos a {
                    font-size: 12px;
                }
            }

            @media screen and (min-width: 1440px) {
                .profile-infos{
                    padding-left: 15px;
                }
            }

.myprofile {
    height: 100%;
    width: 40%;
    background-color: #dfdfdf;
    position: fixed;
    margin-left: 60%;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.22);
}

    .myprofile a {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        padding: 25px;
        color: whitesmoke;
        cursor: pointer;
    }

    .profile-div1 {
        background-color: #010A2C;
        width: 100%;
        height: 28%;
    }

    .profile-div2 {
        background-color: #F0F0F4;
        width: 340px;
        margin-left: 7%;
        margin-top: -5%;
        height: 18%;
        position: absolute;
    }

